@model IEnumerable<Library.ViewModels.Models.MagazineViewModel>

@{
    ViewBag.Title = "Magazine List";
}

<h3>Magazines</h3>


<div>
    @if (User.IsInRole("Admin"))
    {
        <div>
            @using (Html.BeginForm("AddMagazine", "Magazine", FormMethod.Get))
            {
            <button class="btn btn-lg btn-primary" type="submit">Add Magazine</button>
            }
        </div>
    }
    <br>
    <div id="MagazineGrid"></div>

</div>
<br>
<div>
    @Html.ActionLink("To Main Page", "Index", "Publication")
</div>