grid,
#BookGrid,
#BrochureGrid,
#MagazineGrid,
#HouseGrid {
    text-align: center; 
}

#grid {
    width: 30%;
}

.demo-section label {
    display: block;
    margin: 15px 0 5px 0;
}

#example {
    position: relative;
    left: 300px;
    width: 25%;
}
